.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 900px;
}

.carousel ul {
  display: flex;
  list-style: none;
  transition: all ease 0.3s;
}

.carousel li {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0px !important;
}

.carouselArea {
  overflow: hidden;
}

.carouselItem > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.carouselItem img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #0075ff;
  margin-bottom: 18px;
}

.carouselItem h3 {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  color: #007de7;
  max-width: 500px;
  margin-bottom: 16px;
}

.carouselItem p {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #262d37;
  font-style: italic;
  max-width: 500px;
  text-align: center;
}

.carouselItem span {
  color: #262d37;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 8px;
  margin-bottom: 32px;
}

.carouselButtons {
  bottom: 50%;
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carouselButtons button {
  border: 0;
  display: flex;
  align-items: stretch;
  background: transparent;
}

.carouselPoints {
  position: absolute;
  display: flex;
  justify-content: center;
}

.carouselPoints button {
  height: 8px;
  border: none;
  border-radius: 8px;
  background: #dddddd;
  margin-right: 6px;
  transition: all ease 0.3s;
}

.carouselPoints button:last-child {
  margin: 0px;
}

.carouselPoints button:disabled {
  background-color: #007de7;
  width: 24px;
  transition: all ease 0.3s;
}

.carouselPoints button:focus {
  outline: none;
  box-shadow: 0px 0 4px 2px #007de7;
}

/* responsive */
@media (max-width: 950px) {
  .carousel {
    max-width: none;
    padding: 0px 24px;
  }
}

@media (max-width: 650px) {
  .carousel {
    max-width: 400px;
    text-align: center;
  }

  .carousel h3 {
    font-size: 30px;
    line-height: normal;
  }
  .carouselItem img {
    width: 150px;
    height: 150px;
    margin-top: 64px;
  }

  .carousel p {
    max-width: 200px;
  }

  .carouselButtons {
    display: none;
  }

  .carouselPoints {
    padding-top: 32px;
    padding-left: 24px;
  }
}
